.bg-color, section.bg-color, section.call-to-action, #mainmenu li li a:hover, #mainmenu ul li:hover>a, .price-row, .slider-info .text1, .btn-primary, .bg-id-color, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .dropcap, .fullwidthbanner-container a.btn, .feature-box-big-icon i, #testimonial-full, .icon-deco i, .feature-box-style-1 .border, .small-border, #jpreBar, .date-post, .team-list .small-border, .de-team-list .small-border, .btn-line:hover, a.btn-line:hover, .btn-line.hover, a.btn-line.hover, .owl-arrow span, .de-progress .progress-bar, #btn-close-x:hover, .feature-box-style-1 .info, .btn-more, .widget .small-border, .product img:hover, #btn-search, .de_tab.timeline li.active .dot, .btn-id, .tiny-border, #subheader .small-border-deco span, #services-list li a:hover, .timeline .tl-block .tl-line, .de_tab.tab_style_2 .de_nav li.active span, .de_tab.tab_steps.style-2 .de_nav li.active span, .feature-box-style-1.style-2 .number.bg-color, a.btn-custom, .btn-custom, span.overlay, .owl-custom-nav .btn-next:before, .owl-custom-nav .btn-prev:before, .timeline>li>.timeline-badge, .de_light .de_tab.tab_style_3 .de_nav li.active span, .de_tab.tab_style_4 .de_nav li.active span, .circle, .social-icons-sm i:hover, .btn-rsvp, .btn-close, .pricing-s1 .ribbon, .de_tab.tab_style_4 .de_nav li.active, a.btn-fullwidth, .de_testi.opt-3 blockquote:before, .feature-box-style-1 .info, .spinner>div, #back-to-top, .picframe .overlay, .box-icon-simple .num, .post-item .date-box .m, .owl-theme .owl-dots .owl-dot.active span, #pp-nav li .active span, .pp-slidesNav .active span, .pp-tooltip, h1.very-big span.underline, h2 span.underline, h1.big span.underline, .feature-box.style-2 i
{
    background: rgb(178, 0, 0) !important;
}
.whatsapp-baloon
{
    position: fixed;
    z-index : 10000;
    background-color: green;
    width:80px;
    height:80px;
    border-radius:100%;
    bottom:20px;
    right:20px;
    
}
.whatsapp-baloon a{
    color:white;
    display: block;
    font-size: 42px;
    width:100%;
    height:100%;

}

.picframe.sc-icon:hover .icons
{
    bottom:160px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    background-color: brown;
    color:white;
}
.kurikulum-nav .nav-link
{
    color:black;
}
.list-matkul .stripe
{
    background-color : rgba(255, 0, 0, 0.117);
}
@media screen and (max-width:576px){
    .decoration
    {
        display: none;
    }   
}
.decoration
{
    position: absolute;
    z-index: 500;
}
.photo-rounded
{
    width:200px;
    height:200px;
    border-radius:100%;
    overflow:hidden;
    margin:auto;
    margin-bottom : 20px;
    transition:.3s;
}
.photo-rounded:hover{
    transform: scale(120%);
}